<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atzhang.crowdfounding.dao.NewMapper">
  <resultMap id="BaseResultMap" type="com.atzhang.crowdfounding.beans.New">
    <id column="newsID" jdbcType="INTEGER" property="newsid" />
    <result column="newsTitle" jdbcType="VARCHAR" property="newstitle" />
    <result column="newsContent" jdbcType="VARCHAR" property="newscontent" />
    <result column="newsDate" jdbcType="TIMESTAMP" property="newsdate" />
    <result column="newsDesc" jdbcType="VARCHAR" property="newsdesc" />
    <result column="newsImagePath" jdbcType="VARCHAR" property="newsimagepath" />
    <result column="newslooknum" jdbcType="INTEGER" property="newslooknum" />
    <result column="send_user_id" jdbcType="INTEGER" property="sendUserId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List_WithType">
   n.newsID, n.newsTitle, n.newsContent, n.newsDate, n.newsDesc, n.newsImagePath, n.newslooknum, n.send_user_id,
    n.type_id,nt.type_name, nt.create_time,u.username
  </sql>
  <sql id="Base_Column_List">
    newsID, newsTitle, newsContent, newsDate, newsDesc, newsImagePath, newslooknum, send_user_id,
    type_id
  </sql>
  <resultMap id="BaseResultMap_WithType" type="com.atzhang.crowdfounding.beans.New">
    <id column="newsID" jdbcType="INTEGER" property="newsid" />
    <result column="newsTitle" jdbcType="VARCHAR" property="newstitle" />
    <result column="newsContent" jdbcType="VARCHAR" property="newscontent" />
    <result column="newsDate" jdbcType="TIMESTAMP" property="newsdate" />
    <result column="newsDesc" jdbcType="VARCHAR" property="newsdesc" />
    <result column="newsImagePath" jdbcType="VARCHAR" property="newsimagepath" />
    <result column="newslooknum" jdbcType="INTEGER" property="newslooknum" />
    <result column="send_user_id" jdbcType="INTEGER" property="sendUserId" />
    <association  property="newType" javaType="com.atzhang.crowdfounding.beans.NewType">
        <id column="type_id" property="id"/>
        <result column="type_name" property="typeName"></result>
        <result column="create_time" property="createTime"></result>
    </association>
    <association property="user" javaType="com.atzhang.crowdfounding.beans.User">
      <result column="username" property="username"></result>
    </association>
  </resultMap>
  <select id="selectByExampleWithType" parameterType="com.atzhang.crowdfounding.beans.NewExample" resultMap="BaseResultMap_WithType">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List_WithType" />
    FROM news n
    LEFT  join newstypes nt
    on n.`type_id`=nt.`id`
    LEFT join  USER u
    ON  n.`send_user_id`=u.`id`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>

  </select>
  <select id="selectByExample" parameterType="com.atzhang.crowdfounding.beans.NewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where newsID = #{newsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where newsID = #{newsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.atzhang.crowdfounding.beans.NewExample">
    delete from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atzhang.crowdfounding.beans.New" useGeneratedKeys="true" keyProperty="newsid">
    insert into news (newsID, newsTitle, newsContent, 
      newsDate, newsDesc, newsImagePath, 
      newslooknum, send_user_id, type_id
      )
    values (#{newsid,jdbcType=INTEGER}, #{newstitle,jdbcType=VARCHAR}, #{newscontent,jdbcType=VARCHAR}, 
      #{newsdate,jdbcType=TIMESTAMP}, #{newsdesc,jdbcType=VARCHAR}, #{newsimagepath,jdbcType=VARCHAR}, 
      #{newslooknum,jdbcType=INTEGER}, #{sendUserId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atzhang.crowdfounding.beans.New">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsid != null">
        newsID,
      </if>
      <if test="newstitle != null">
        newsTitle,
      </if>
      <if test="newscontent != null">
        newsContent,
      </if>
      <if test="newsdate != null">
        newsDate,
      </if>
      <if test="newsdesc != null">
        newsDesc,
      </if>
      <if test="newsimagepath != null">
        newsImagePath,
      </if>
      <if test="newslooknum != null">
        newslooknum,
      </if>
      <if test="sendUserId != null">
        send_user_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsid != null">
        #{newsid,jdbcType=INTEGER},
      </if>
      <if test="newstitle != null">
        #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="newscontent != null">
        #{newscontent,jdbcType=VARCHAR},
      </if>
      <if test="newsdate != null">
        #{newsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="newsdesc != null">
        #{newsdesc,jdbcType=VARCHAR},
      </if>
      <if test="newsimagepath != null">
        #{newsimagepath,jdbcType=VARCHAR},
      </if>
      <if test="newslooknum != null">
        #{newslooknum,jdbcType=INTEGER},
      </if>
      <if test="sendUserId != null">
        #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atzhang.crowdfounding.beans.NewExample" resultType="java.lang.Long">
    select count(*) from news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update news
    <set>
      <if test="record.newsid != null">
        newsID = #{record.newsid,jdbcType=INTEGER},
      </if>
      <if test="record.newstitle != null">
        newsTitle = #{record.newstitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newscontent != null">
        newsContent = #{record.newscontent,jdbcType=VARCHAR},
      </if>
      <if test="record.newsdate != null">
        newsDate = #{record.newsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.newsdesc != null">
        newsDesc = #{record.newsdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.newsimagepath != null">
        newsImagePath = #{record.newsimagepath,jdbcType=VARCHAR},
      </if>
      <if test="record.newslooknum != null">
        newslooknum = #{record.newslooknum,jdbcType=INTEGER},
      </if>
      <if test="record.sendUserId != null">
        send_user_id = #{record.sendUserId,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null">
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update news
    set newsID = #{record.newsid,jdbcType=INTEGER},
      newsTitle = #{record.newstitle,jdbcType=VARCHAR},
      newsContent = #{record.newscontent,jdbcType=VARCHAR},
      newsDate = #{record.newsdate,jdbcType=TIMESTAMP},
      newsDesc = #{record.newsdesc,jdbcType=VARCHAR},
      newsImagePath = #{record.newsimagepath,jdbcType=VARCHAR},
      newslooknum = #{record.newslooknum,jdbcType=INTEGER},
      send_user_id = #{record.sendUserId,jdbcType=INTEGER},
      type_id = #{record.typeId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.atzhang.crowdfounding.beans.New">
    update news
    <set>
      <if test="newstitle != null">
        newsTitle = #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="newscontent != null">
        newsContent = #{newscontent,jdbcType=VARCHAR},
      </if>
      <if test="newsdate != null">
        newsDate = #{newsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="newsdesc != null">
        newsDesc = #{newsdesc,jdbcType=VARCHAR},
      </if>
      <if test="newsimagepath != null">
        newsImagePath = #{newsimagepath,jdbcType=VARCHAR},
      </if>
      <if test="newslooknum != null">
        newslooknum = #{newslooknum,jdbcType=INTEGER},
      </if>
      <if test="sendUserId != null">
        send_user_id = #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
    </set>
    where newsID = #{newsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atzhang.crowdfounding.beans.New">
    update news
    set newsTitle = #{newstitle,jdbcType=VARCHAR},
      newsContent = #{newscontent,jdbcType=VARCHAR},
      newsDate = #{newsdate,jdbcType=TIMESTAMP},
      newsDesc = #{newsdesc,jdbcType=VARCHAR},
      newsImagePath = #{newsimagepath,jdbcType=VARCHAR},
      newslooknum = #{newslooknum,jdbcType=INTEGER},
      send_user_id = #{sendUserId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER}
    where newsID = #{newsid,jdbcType=INTEGER}
  </update>
</mapper>